---
type Props = {
  title: string;
  description?: string;
};

import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header />
  <div class="mx-auto max-w-7xl px-6 pt-20 pb-10">
    <slot />
  </div>
</BaseLayout>
